<div {{ attributes }}>
  <div class="dash-top">
    {{ content.top }}
  </div>
  <div class="dash-left">
    {{ content.left }}
  </div>
  <div class="dash-right">
    {{ content.right }}
  </div>
  <div class="dash-bottom">
    {{ content.bottom }}
  </div>
</div>
