<div class="contact-summary clearfix">
  <small class="contact-id">ID: {{ user.id }}</small>
  {% if image %}<div class="contacts-header-image">{{ image }}</div>{% endif %}
  <h2>{{ name }}</h2>
  {% if email %}<div class="contact-email">{{ email }}</div>{% endif %}
  {% if phone %}<div class="contact-phone">{{ phone }}</div>{% endif %}
  {% if hats %}
    <div class="contact-hats">
      {{ hats }}
    </div>
  {% endif %}
</div>
