{% if tabs %}
  <ul{{ attributes }}>
    {%- for key, item in tabs -%}
      <li{{ item.attributes.addClass(key|clean_class) }}>
        <a {{ item.link_attributes }} href="{{ item.link }}">
          {{ item.drag }}
          {{ item.edit }}
          {{ item.text }}
        </a>
      </li>
    {%- endfor -%}
  </ul>
{% endif %}
