<div {{ attributes.addClass('dash-summary') }}>
<div {{ region_attributes.addClass('dash-left') }}>
    {{ content.left }}
  </div>
  <div {{ region_attributes.removeClass('dash-left').addClass('dash-right') }}>
    {{ content.right }}
  </div>
</div>


