<div class="card">
  <div data-dnd-contacts-block-id="contacts_entity_{{ entity }}_{{ key }}" data-dnd-contacts-profile-type="{{ bundle }}" data-dnd-contacts-profile-relationship="{{ entity }}_{{ key }}" class="draggable">
    <div class="menu-content">
      <div class="card-header">{{ label }}</div>
      <div class="card-block">
        <div class="card-text">{{ description }}</div>
        <a href="{{ link.url }}" target="_blank" class="card-link">{{ link.text }}</a>
      </div>
    </div>
  </div>
</div>
