<div class="contacts-row-image">
  {%  if image %}
  <a href="{{ url }}">{{ image }}</a>
  {% endif %}
</div>
<div class="contacts-row-main flex-fill">
  {% if label %}<h3 class="contact-label"><a href="{{ url }}">{{ label }}</a></h3>{% endif %}
  {% if address %}<div class="contact-address">{{ address }}</div>{% endif %}
</div>
<div class="contacts-row-supporting">
  <h6 class="contact-id"><a href="{{ url }}">ID: {{ user.id }}</a></h6>
  {% if roles %}<div class="contact-roles description">{{ roles }}</div>{% endif %}
</div>
